<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fusiforms.mailmove</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>/Users/anthony/develop/mail-move/mail-move-attachments.sh</string>
    </array>
    
    <key>WatchPaths</key>
    <array>
        <string>/Users/anthony/Downloads/mail</string>
    </array>
</dict>
</plist>
